.container {
    background-color: #1d2123;
    padding: 20px 0;
    color: #cacaca;
    font-size: 20px;
    line-height: 1.57;
}

.containerClosed {
    height: 0;
}

.containerOpen {
    height: 100%
}

.item {
    height: 100%;
    display: flex;
    align-items: center;
}

.link {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}